{% extends "base.html" %}

{% block content %}

<form method='post'>
        <label>
            <h1 style="text-align:center">Add A New Post!</h1>
            
            <h3> Post Title</h3>
            <br>
            <input type="text" name='a' value={{blog_title}} >
            <td>
            <span class="error">{{empty_title}}</span>
            </td>
        </label>
        <br>
        <br>
        <label>
            <h3>Keep your post under 21844 characters please!!</h3>
            <br>
            <textarea type="text" name='b'>{{blog_entry}}</textarea>
            <td>
            <span class="error">{{empty_post}}</span>
            </td>
        </label>
        <td>
        <span class="error">{{no_content}}</span>
        </td>
        <br>
        <br>
        <input type="submit" value='Add Blog Post' />
    </form>

    {% endblock %}